.list-box {
    background-image: url("/workspaces/jjmorenosound-react-to-do-list/src/img/notebook.jpg");
    background-size: cover;
    background-position: center;
  }
  
  body {
    background-image:  url("/workspaces/jjmorenosound-react-to-do-list/src/img/desk.jpg");;
    background-size: cover;
    background-position: center;
  
  }